@page "/admin/category-edit"
@page "/admin/category-edit/{id:guid}"
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject ICategoryAdminService CategoryAdminService
@* InjectionCodePlaceholder *@
@rendermode InteractiveAuto

<section>
    @if (Id.Equals(Guid.Empty))
    {
        <h1>Category Role</h1>
    }
    else
    {
        <h1>Edit Category</h1>
    }
    <article>
        <EditForm class="container" Model="category" OnSubmit="HandleSubmit">
            @* EditRowCodePlaceholder *@
            <div class="row">
                <div class="col">
                    @if (!Id.Equals(Guid.Empty))
                    {
                        <button @onclick="Delete" type="button" class="btn btn-danger">Delete</button>
                    }
                </div>
                <div class="col">
                    <a href="/admin/category-list">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </article>
</section>

@code {
    [Parameter]
    public Guid Id { get; set; }
    Category category { get; set; } = new Category();
    @* ListDeclarationCodePlaceholder *@

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        @* OnInitializedCodePlaceholder *@
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var result = await CategoryAdminService.GetByIdAsync(Id);

        if (result == null)
        {
            category = new Category();
        }
        else
        {
            category = result;
        }
    }

    async Task HandleSubmit()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        if (userName == null)
        {
            return;
        }

        if (category == null)
        {
            return;
        }

        if (Id.Equals(Guid.Empty))
        {
            var dbCategory = await CategoryAdminService.AddAsync(userName, category);

            if (dbCategory == null)
            {
                return;
            }

            NavigationManager.NavigateTo($"/admin/category-edit/{dbCategory.Id}");
        }
        else
        {
            await CategoryAdminService.EditAsync(userName, Id, category);
        }
    }

    async Task Delete()
    {
        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name!;

        if (userName == null)
        {
            return;
        }

        await CategoryAdminService.DeleteAsync(userName, Id);
        NavigationManager.NavigateTo($"/admin/category-list");
    }

    @* OnChangeCodePlaceholder *@
}
