@page "/admin/comment-edit"
@page "/admin/comment-edit/{id:guid}"
@inject ICommentAdminService CommentAdminService
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<section>
    @if (Id.Equals(Guid.Empty))
    {
        <h1>Comment Role</h1>
    }
    else
    {
        <h1>Edit Comment</h1>
    }
    <article>
        <EditForm class="container" Model="comment" OnSubmit="HandleSubmit">
            @* <div class="row">
                <div class="col">
                    <label>
                        PropertyNamePlaceholder:
                        <InputText @bind-Value="comment.PropertyNamePlaceholder">@comment.PropertyNamePlaceholder</InputText>
                    </label>
                </div>
            </div> *@
            <div class="row">
                <div class="col">
                    <button @onclick="Delete" type="button" class="btn btn-danger">Delete</button>
                </div>
                <div class="col">
                    <a href="/admin/comment-list">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </article>
</section>

@code {
    [Parameter]
    public Guid Id { get; set; }
    Comment comment { get; set; } = new Comment();

    protected override async Task OnParametersSetAsync()
    {
        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var result = await CommentAdminService.GetByIdAsync(Id);

        if (result == null)
        {
            comment = new Comment();
        }
        else
        {
            comment = result;
        }
    }

    async Task HandleSubmit()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        if (userName == null)
        {
            return;
        }

        if (comment == null)
        {
            return;
        }

        if (Id.Equals(Guid.Empty))
        {
            var dbComment = await CommentAdminService.AddAsync(userName, comment);

            if (dbComment == null)
            {
                return;
            }

            NavigationManager.NavigateTo($"/admin/comment-edit/{dbComment.Id}");
        }
        else
        {
            await CommentAdminService.EditAsync(userName, Id, comment);
        }
    }

    async Task Delete()
    {
        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name!;

        if (userName == null)
        {
            return;
        }

        await CommentAdminService.DeleteAsync(userName, Id);
        NavigationManager.NavigateTo($"/admin/comment-list");
    }
}
