@page "/admin/UrlNamePlaceholder-edit"
@page "/admin/UrlNamePlaceholder-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject ITagAdminService TagAdminService

@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminService ToDoListAdminService *@

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>Create Tag</h1>
  }
  else
  {
    <h1>Edit Tag</h1>
  }
  <article>
    <EditForm class="container" Model="tagAdminEditModel" OnSubmit="HandleSubmit">

      @* EditRowCodePlaceholder *@
      @* <div class="row">
                <div class="col">
                    <label>
                        To Do List:
                        <select @onchange="ToDoListOnChange">
                            <option>Select to Do List...</option>
                            @if (toDoListList != null)
                            {
                                @foreach (var toDoList in toDoListList)
                                {
                                    if (tagAdminEditModel.ToDoList != null && tagAdminEditModel.ToDoList.Id.Equals(toDoList.Id))
                                    {
                                        <option value="@toDoList.Id" selected>@toDoList.Title</option>
                                    }
                                    else
                                    {
                                        <option value="@toDoList.Id">@toDoList.Title</option>
                                    }
                                }
                            }
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>
                        Title:
                        <InputText @bind-Value="tagAdminEditModel.Title" />
                    </label>
                </div>
            </div> *@

            <div class="row">
                <div class="col">
                    @if (!Id.Equals(Guid.Empty))
                    {
                        <button @onclick="Delete" type="button" class="btn btn-danger">Delete</button>
                    }
                </div>
                <div class="col">
                    <a href="/admin/UrlNamePlaceholder-list">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </article>
</section>

@code {
    [Parameter]
    public Guid Id { get; set; }
    TagAdminEditModel tagAdminEditModel { get; set; } = new TagAdminEditModel();

    @* ListDeclarationCodePlaceholder *@
    @* List<ToDoList>? toDoListList { get; set; } *@

    protected override async Task OnInitializedAsync()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        await base.OnInitializedAsync();

        @* OnInitializedCodePlaceholder *@
        @* var toDoListListResult = await ToDoListAdminService.GetAllAsync(userName);
        if (toDoListListResult != null)
        {
            toDoListList = toDoListListResult;
        } *@
    }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var databaseTagAdminDto = await TagAdminService.GetByIdAsync(userName, Id);

        if (databaseTagAdminDto == null)
        {
            tagAdminEditModel = new TagAdminEditModel();
        }
        else
        {
            tagAdminEditModel = TagAdminEditModel.FromTagAdminDto(databaseTagAdminDto);
        }
    }

    async Task HandleSubmit()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        @* if (string.IsNullOrWhiteSpace(tagAdminEditModel.Name))
        {
            return;
        } *@

        var tagAdminDto = TagAdminEditModel.ToTagAdminDto(tagAdminEditModel);
        tagAdminDto.ApplicationUserName = userName;

        if (Id.Equals(Guid.Empty))
        {
            var newTagAdminDto = await TagAdminService.AddAsync(tagAdminDto);

            if (newTagAdminDto == null)
            {
                return;
            }

            NavigationManager.NavigateTo($"/admin/UrlNamePlaceholder-edit/{newTagAdminDto.Id}");
        }
        else
        {
            await TagAdminService.EditAsync(tagAdminDto);
        }
    }

    async Task Delete()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name!;

        if (userName == null)
        {
            return;
        }

        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        await TagAdminService.DeleteAsync(userName, Id);
        NavigationManager.NavigateTo($"/admin/UrlNamePlaceholder-list");
    }


    @* OnChangeCodePlaceholder *@
    @* void ToDoListOnChange(ChangeEventArgs args)
    {
        if (args.Value == null)
        {
            return;
        }

        var id = (string)args.Value;
        tagAdminEditModel.ToDoList = toDoListList?.Where(x => x.Id.ToString().Equals(id)).FirstOrDefault();
    } *@
}
