@page "/admin/category-list"
@inject ICategoryAdminService CategoryAdminService
@attribute [StreamRendering]

<section>
    <h1>Category List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    @* ListHeaderCodePlaceholder *@
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (categories == null)
                {
                    <tr>
                        @* LoadingCountCodePlaceholder *@
                    </tr>
                }
                else if (categories.Count == 0)
                {
                    <tr>
                        @* ZeroCountCodePlaceholder *@
                    </tr>
                }
                else
                {
                    @foreach (var category in categories)
                    {
                        <tr>
                            <td>@category.Id</td>
                            @* ListItemCodePlaceholder *@
                            <td>
                                <NavButton Href="@("/admin/category-edit/" + category.Id)" Name="Edit" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <NavButton Href="/admin/category-edit" Name="Create" />
    </article>
</section>

@code {
    List<Category>? categories = null;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryAdminService.GetAllAsync();
    }
}
