@page "/admin/tag-list"
@inject ITagAdminService TagAdminService
@attribute [StreamRendering]

<section>
    <h1>Tag List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    @* ListHeaderCodePlaceholder *@
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (tags == null)
                {
                    <tr>
                        @* LoadingCountCodePlaceholder *@
                    </tr>
                }
                else if (tags.Count == 0)
                {
                    <tr>
                        @* ZeroCountCodePlaceholder *@
                    </tr>
                }
                else
                {
                    @foreach (var tag in tags)
                    {
                        <tr>
                            <td>@tag.Id</td>
                            @* ListItemCodePlaceholder *@
                            <td>
                                <NavButton Href="@("/admin/tag-edit/" + tag.Id)" Name="Edit" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <NavButton Href="/admin/tag-edit" Name="Create" />
    </article>
</section>

@code {
    List<Tag>? tags = null;

    protected override async Task OnInitializedAsync()
    {
        tags = await TagAdminService.GetAllAsync();
    }
}
